In [4]:
import json
import pandas as pd

# Opening JSON file
f = open('shimanobikes_combined.json')
 
# returns JSON object as
# a dictionary
data = json.load(f)

#which dataset are you using? e.g. unsprung ,Reevo ...
postOwner = "shimanomtb"

file_name = 'ShimanoFilteredHashtags.json'
#save it into a list so that its easier for pandas
initialResult = []
# # Iterating through the json
# # list
# Here, I want to put it into this format so that we can translate it into a networkX graph
# Essentially we are saying this post by __post owner__ used this hashtag
# the hashtag could be tagging another company or bike .
# We can find out if the companies tag each other? or is it one directional?

for post in data:
    hashes = post["hashtags"]
    for hashtag in hashes:
        if hashtag != postOwner:
            forDataFrame = {
                "postBy" : "Shimanomtb",
                "postHashtag" : hashtag
            }
            initialResult.append(forDataFrame)


result = json.dumps(initialResult)

with open(file_name, 'a+') as filehandle:
    filehandle.write(result)
# print(initialResult)
 
df1 = pd.json_normalize(initialResult)





df1

          postBy            postHashtag
0     Shimanomtb            rideshimano
1     Shimanomtb                12speed
2     Shimanomtb                12speed
3     Shimanomtb                12speed
4     Shimanomtb            useyourhead
...          ...                    ...
1553  Shimanomtb         saddleselector
1554  Shimanomtb            rideshimano
1555  Shimanomtb          imwithshimano
1556  Shimanomtb                    tsg
1557  Shimanomtb  terengganucyclingteam

[1558 rows x 2 columns]

In [11]:
import json
import pandas as pd

# Opening JSON file
f = open('results2016-2017.json')
 
# returns JSON object as
# a dictionary
data = json.load(f)

#which dataset are you using? e.g. unsprung ,Reevo ...
postOwner = "unsprungsg"

# make sure to change the filename so you can identify which you scraped !!
file_name = 'UnsprungHashtagsFiltered.json'

#save it into a list so that its easier for pandas
initialResult = []

# # Iterating through the json
# # list
# Here, I want to put it into this format so that we can translate it into a networkX graph
# Essentially we are saying this post by __post owner__ used this hashtag
# the hashtag could be tagging another company or bike .
# We can find out if the companies tag each other? or is it one directional?

# for post in data:
#     hashes = post["hashtags"]
#     for hashtag in hashes:
#         if hashtag != postOwner:
#             forDataFrame = {
#                 "postBy" : "unsprungsg",
#                 "postHashtag" : hashtag
#             }
#             initialResult.append(forDataFrame)


# result = json.dumps(initialResult)

# with open(file_name, 'a+') as filehandle:
#     filehandle.write(result)
# print(initialResult)
 
df2 = pd.json_normalize(initialResult)





df2

          postBy          postHashtag
0     unsprungsg  wolftoothcomponents
1     unsprungsg      deitycomponents
2     unsprungsg            evilbikes
3     unsprungsg            thesensus
4     unsprungsg      deitycomponents
...          ...                  ...
2207  unsprungsg       pushindustries
2208  unsprungsg  scienceofsuspension
2209  unsprungsg      deitycomponents
2210  unsprungsg            evilbikes
2211  unsprungsg        pnwcomponents

[2212 rows x 2 columns]

In [ ]:
import json
import pandas as pd

# Opening JSON file
f = open('combinedFinal.json')
 
# returns JSON object as
# a dictionary
data = json.load(f)

for x in data:
    print(x['postHashtag'])
    hashtag = x['postHashtag']
    if not hashtag.isnumeric():
        print(hashtag)
        forDataFrame = {
            "postBy" : x['postBy'],
            "postHashtag" : hashtag
        }        
        initialResult.append(forDataFrame)
        
        
result = json.dumps(initialResult)

with open(file_name, 'a+') as filehandle:
    filehandle.write(result)
print(initialResult)
# df3 = pd.json_normalize(data)
# df3

In [16]:
import json
import pandas as pd

# Opening JSON file
f = open('combinedFinal.json')
 
# returns JSON object as
# a dictionary
data = json.load(f)

df3 = pd.json_normalize(data)
df3

           postBy            postHashtag
0      yeticycles          huayhuashfilm
1      yeticycles             yeticycles
2      yeticycles             ridedriven
3      yeticycles            pinkbikepoy
4      yeticycles             yeticycles
...           ...                    ...
22240  Shimanomtb         saddleselector
22241  Shimanomtb            rideshimano
22242  Shimanomtb          imwithshimano
22243  Shimanomtb                    tsg
22244  Shimanomtb  terengganucyclingteam

[22245 rows x 2 columns]

In [17]:
import json
import pandas as pd

# Opening JSON file
f = open('allCompaniesFilteredFinal.json')
 
# returns JSON object as
# a dictionary
data = json.load(f)

df3 = pd.json_normalize(data)
df3

           postBy            postHashtag
0      yeticycles          huayhuashfilm
1      yeticycles             yeticycles
2      yeticycles             ridedriven
3      yeticycles            pinkbikepoy
4      yeticycles             yeticycles
...           ...                    ...
21988  Shimanomtb         saddleselector
21989  Shimanomtb            rideshimano
21990  Shimanomtb          imwithshimano
21991  Shimanomtb                    tsg
21992  Shimanomtb  terengganucyclingteam

[21993 rows x 2 columns]

In [19]:
import networkx as nx
from matplotlib.pyplot import figure
G = nx.Graph()
G = nx.from_pandas_edgelist(df3, 'postBy', 'postHashtag')

figure(figsize=(100, 80))
nx.write_gml(G, "combinedCurrentlyFinal.gml")